*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,body{
  height: 100%;
  width: 100%;
}

#main{
  height: 100%;
  width: 100%;
}

#nav{
  /* background-color: red; */
  position:  fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px 40px ;
  
}

#nav h3{
  background-color: #000;
  color: #fff;
  padding: 15px 25px;
  font-size: 22px;
  border-radius: 50px;
  margin-left: 6px;
 }
 
#intro{
  height: 45%;
  width: 100%;
  /* background-color:  bisque; */
}

#intro h1{
  font-size: 150px;
  line-height: 140px;
  padding:50px 60px;
  /* letter-spacing: ; */
}

#place{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px ;
}

#place h3, #place h4{
  font-size: 30px;
  font-weight: 600;
 
}

#hero-image{
  margin-top: 10%;
  width: 100%;
  height: 100%;
  background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp);
  background-size: cover;
}

#about{
  height:45%;
  width:100% ;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 30px; */
}

#about h2{
  /* background-color: red; */
  width: 70%;
  font-size: 80px;
  /* padding:0px; */
  line-height: 90px;
}

#about-part-2{
  width: 36%;
  height: 100%;
  /* background-color: blue; */
}